n8n/workflow.json
{
  "name": "Somnia Agent — Job Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-job",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook: New Job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "new-job"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/job",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"requestText\": $json.body.requestText }",
        "options": {}
      },
      "id": "http-1",
      "name": "Call Agent /api/job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.escrowTx?.hash }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Escrow locked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "content": "=Job locked on Somnia.\nUUID: {{ $json.uuid }}\nWorker: {{ $json.worker.name }}\nAmount: {{ $json.amount }} STT\nTx: {{ $json.escrowTx.url }}"
      },
      "id": "noop-1",
      "name": "Notify (Slack/Email/WhatsApp)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 220]
    }
  ],
  "connections": {
    "Webhook: New Job": { "main": [[{ "node": "Call Agent /api/job", "type": "main", "index": 0 }]] },
    "Call Agent /api/job": { "main": [[{ "node": "Escrow locked?", "type": "main", "index": 0 }]] },
    "Escrow locked?": { "main": [[{ "node": "Notify (Slack/Email/WhatsApp)", "type": "main", "index": 0 }], []] }
  },
  "settings": {},
  "active": false
}
