n8n/workflow.json
{
  "name": "ServiceChain — send_job_email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send_job_email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-144, 0],
      "id": "e795127a-39ff-4a9c-ae01-f1255793dd77",
      "name": "Webhook",
      "webhookId": "77bd7451-b90d-4a24-99f7-0a44554998f4"
    },
    {
      "parameters": {
        "fromEmail": "jobs@servicechain.app",
        "toEmail": "={{ $json.body.worker.email }}",
        "subject": "=You're hired on ServiceChain: {{ $json.body.job.summary }} ({{ $json.body.job.location }})",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>You've been hired on ServiceChain</title>\n  <style type=\"text/css\">\n    body { margin:0 !important; padding:0 !important; width:100% !important; }\n    table { border-collapse:collapse; }\n    a { text-decoration:none; }\n    @media only screen and (max-width:600px){ .container{ width:100% !important; } .px{ padding-left:22px !important; padding-right:22px !important; } .stack{ display:block !important; width:100% !important; box-sizing:border-box; } }\n  </style>\n</head>\n<body style=\"margin:0; padding:0; background-color:#0f1020;\">\n  <div style=\"display:none; max-height:0; overflow:hidden; mso-hide:all; font-size:1px; line-height:1px; color:#0f1020; opacity:0;\">You've been hired for {{ $json.body.job.summary }} in {{ $json.body.job.location }}. Payment is secured in on-chain escrow.</div>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#0f1020;\">\n    <tr><td align=\"center\" style=\"padding:28px 12px;\">\n      <table role=\"presentation\" class=\"container\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:600px; max-width:600px; background-color:#ffffff; border-radius:16px; overflow:hidden;\">\n        <tr><td style=\"height:6px; line-height:6px; font-size:6px; background-color:#7c3aed; background-image:linear-gradient(90deg,#7c3aed 0%,#22d3ee 100%);\">&nbsp;</td></tr>\n        <tr><td class=\"px\" style=\"padding:28px 36px 8px 36px; font-family:Arial,Helvetica,sans-serif;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n            <td align=\"left\" style=\"font-size:20px; font-weight:bold; color:#7c3aed; letter-spacing:0.3px;\">Service<span style=\"color:#06b6d4;\">Chain</span></td>\n            <td align=\"right\" style=\"font-size:11px; color:#8b8fa3; text-transform:uppercase; letter-spacing:1px;\">Job Assigned</td>\n          </tr></table>\n        </td></tr>\n        <tr><td class=\"px\" style=\"padding:14px 36px 4px 36px; font-family:Arial,Helvetica,sans-serif;\">\n          <h1 style=\"margin:0; font-size:26px; line-height:1.25; color:#15172b; font-weight:bold;\">You've been hired, {{ $json.body.worker.name }}!</h1>\n          <p style=\"margin:12px 0 0 0; font-size:15px; line-height:1.6; color:#4a4d63;\"><strong>{{ $json.body.client.name }}</strong> selected you as their <strong>{{ $json.body.worker.role }}</strong> for a new job. The details are below.</p>\n        </td></tr>\n        <tr><td class=\"px\" style=\"padding:22px 36px 0 36px; font-family:Arial,Helvetica,sans-serif;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f5f3ff; border:1px solid #ece7ff; border-radius:12px;\"><tr><td style=\"padding:18px 20px;\">\n            <p style=\"margin:0 0 6px 0; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase; color:#7c3aed;\">The client's request</p>\n            <p style=\"margin:0 0 10px 0; font-size:17px; font-weight:bold; line-height:1.4; color:#15172b;\">{{ $json.body.job.summary }}</p>\n            <p style=\"margin:0; font-size:14px; line-height:1.6; color:#4a4d63;\">\"{{ $json.body.job.fullRequestText }}\"</p>\n          </td></tr></table>\n        </td></tr>\n        <tr><td class=\"px\" style=\"padding:18px 36px 0 36px; font-family:Arial,Helvetica,sans-serif;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n            <td class=\"stack\" width=\"50%\" valign=\"top\" style=\"padding:0 6px 12px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f7f8fb; border:1px solid #eef0f5; border-radius:10px;\"><tr><td style=\"padding:14px 16px;\"><p style=\"margin:0 0 4px 0; font-size:11px; letter-spacing:0.8px; text-transform:uppercase; color:#8b8fa3;\">Category</p><p style=\"margin:0; font-size:15px; font-weight:bold; color:#15172b;\">{{ $json.body.job.category }}</p></td></tr></table></td>\n            <td class=\"stack\" width=\"50%\" valign=\"top\" style=\"padding:0 0 12px 6px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#fff7ed; border:1px solid #fde6c8; border-radius:10px;\"><tr><td style=\"padding:14px 16px;\"><p style=\"margin:0 0 4px 0; font-size:11px; letter-spacing:0.8px; text-transform:uppercase; color:#b4854a;\">Urgency</p><p style=\"margin:0; font-size:15px; font-weight:bold; color:#b45309;\">{{ $json.body.job.urgency }}</p></td></tr></table></td>\n          </tr><tr>\n            <td class=\"stack\" width=\"50%\" valign=\"top\" style=\"padding:0 6px 0 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f7f8fb; border:1px solid #eef0f5; border-radius:10px;\"><tr><td style=\"padding:14px 16px;\"><p style=\"margin:0 0 4px 0; font-size:11px; letter-spacing:0.8px; text-transform:uppercase; color:#8b8fa3;\">Location</p><p style=\"margin:0; font-size:15px; font-weight:bold; color:#15172b;\">{{ $json.body.job.location }}</p></td></tr></table></td>\n            <td class=\"stack\" width=\"50%\" valign=\"top\" style=\"padding:0 0 0 6px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ecfeff; border:1px solid #c4f1f9; border-radius:10px;\"><tr><td style=\"padding:14px 16px;\"><p style=\"margin:0 0 4px 0; font-size:11px; letter-spacing:0.8px; text-transform:uppercase; color:#0e7490;\">Quoted Price</p><p style=\"margin:0; font-size:15px; font-weight:bold; color:#0e7490;\">{{ $json.body.quotedPrice }}</p></td></tr></table></td>\n          </tr></table>\n        </td></tr>\n        <tr><td class=\"px\" style=\"padding:20px 36px 0 36px; font-family:Arial,Helvetica,sans-serif;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#15172b; border-radius:12px;\"><tr><td style=\"padding:18px 20px;\">\n            <p style=\"margin:0 0 6px 0; font-size:12px; font-weight:bold; letter-spacing:1px; text-transform:uppercase; color:#22d3ee;\">Payment secured in escrow</p>\n            <p style=\"margin:0 0 12px 0; font-size:14px; line-height:1.6; color:#c8cbe0;\"><strong style=\"color:#ffffff;\">{{ $json.body.escrow.amountSTT }} STT</strong> is locked on-chain on Somnia and is released to your wallet once your work is verified as complete.</p>\n            <a href=\"{{ $json.body.escrow.txUrl }}\" target=\"_blank\" style=\"font-size:13px; font-weight:bold; color:#22d3ee;\">View escrow transaction &#8594;</a>\n          </td></tr></table>\n        </td></tr>\n        <tr><td class=\"px\" align=\"center\" style=\"padding:26px 36px 6px 36px; font-family:Arial,Helvetica,sans-serif;\">\n          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td align=\"center\" style=\"border-radius:10px; background-color:#7c3aed; background-image:linear-gradient(90deg,#7c3aed 0%,#06b6d4 100%);\"><a href=\"https://servicechain.app/worker\" target=\"_blank\" style=\"display:inline-block; padding:14px 34px; font-size:15px; font-weight:bold; color:#ffffff; border-radius:10px;\">Start the job &amp; submit proof</a></td></tr></table>\n          <p style=\"margin:14px 0 0 0; font-size:13px; line-height:1.6; color:#8b8fa3;\">Complete the work, then submit your proof of completion to release the escrowed payment.</p>\n        </td></tr>\n        <tr><td class=\"px\" style=\"padding:22px 36px 0 36px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"border-top:1px solid #eef0f5; font-size:0; line-height:0;\">&nbsp;</td></tr></table></td></tr>\n        <tr><td class=\"px\" align=\"center\" style=\"padding:16px 36px 30px 36px; font-family:Arial,Helvetica,sans-serif;\">\n          <p style=\"margin:0 0 4px 0; font-size:12px; line-height:1.6; color:#9aa0b4;\">Job ID <strong style=\"color:#6b7088;\">{{ $json.body.jobId }}</strong> &#183; Assigned {{ $json.body.timestamp }}</p>\n          <p style=\"margin:0; font-size:12px; line-height:1.6; color:#b3b8c9;\">Powered by <strong style=\"color:#7c3aed;\">Service</strong><strong style=\"color:#06b6d4;\">Chain</strong> — AI service marketplace on Somnia.</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "text": "=You're hired on ServiceChain!\n\nHi {{ $json.body.worker.name }},\n\n{{ $json.body.client.name }} selected you as their {{ $json.body.worker.role }} for a new job.\n\nREQUEST: {{ $json.body.job.summary }}\nDetails: {{ $json.body.job.fullRequestText }}\n\nCategory: {{ $json.body.job.category }}\nUrgency: {{ $json.body.job.urgency }}\nLocation: {{ $json.body.job.location }}\nQuoted price: {{ $json.body.quotedPrice }}\n\nPayment of {{ $json.body.escrow.amountSTT }} STT is locked on-chain in escrow and released once your work is verified.\nEscrow tx: {{ $json.body.escrow.txUrl }}\n\nComplete the work, then submit your proof of completion at https://servicechain.app/worker to release payment.\n\nJob ID: {{ $json.body.jobId }}\n— ServiceChain"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [120, 0],
      "id": "2feed8f3-df6f-4177-b1db-671436de10ae",
      "name": "Send email",
      "webhookId": "975addbf-2b23-4aa2-8f88-c367c4cdf2f6",
      "credentials": {
        "smtp": { "id": "cFMPkz4fauscWPyk", "name": "Testing" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"sentTo\": $('Webhook').item.json.body.worker.email, \"jobId\": $('Webhook').item.json.body.jobId } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [384, 0],
      "id": "06b6607e-af87-48b2-b828-9d3200cdac6e",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Send email", "type": "main", "index": 0 }]] },
    "Send email": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a8911dcae16f83520cb41c3568e68dc798bbe3c776ace417f6ce59064026267"
  }
}
